<ion-view title="Items" id="page4">
  <ion-nav-title>
      <span>{{lista.get('nombre')}}</span>
    </ion-nav-title>
  <ion-nav-buttons side="right" class="has-header">
    <a class="button button-icon icon ion-android-add" href="#/articulo/{{lista.id}}/"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    
    <a class="item item-thumbnail-left" ng-repeat="articulo in articulos" href="#/articulo/{{lista.id}}/{{articulo.id}}">
      <img ng-if="articulo.has('foto')" ng-src="{{articulo.get('foto').url()}}">
      <h2>{{articulo.get('marca')}}</h2>
      <p>${{articulo.get('precio') | number:0}}</p>
      <p>{{articulo.get('lugar')}}</p>
    </a>
  </ion-content>
</ion-view>

